.background {
    min-height: 1931px;
    margin: 0;
    background: linear-gradient(to bottom, #1a1a1a, #595959);
}

header {
    padding-top: 50px; 
    display: flex;
    justify-content: center;
    gap: 100px;
}

header a{
    text-decoration: none;
    color: #919191;
    font-size: 15px;
    font-family: 'arial';
    font-weight: 600;
    font-family: 'Inter';
}

header a:hover{
    color: rgb(224, 224, 224);
}

.container1 {
    max-width: 800px; 
    margin: 0 auto;         
    padding: 60px 20px 60px 20px;
    color:#ffffff;
    font-family: 'JetBrains Mono';
    font-size: 13px; 
}

.intro {
    padding-top: 25px;
}

.containerButtons {
    padding-top: 20px;
    display: flex;       /* Make buttons align side by side */
    gap: 8px;           /* Optional: space between them */
    margin-top: 25px;
  }
  
.containerButtons button {
    background-color: #d9d9d9;
    border: none;
    border-radius: 6px;
    padding: 5px 5px;
    display: flex;
    align-items: center; /* Center vertically */
    gap: 8px;            /* Space between icon and text */
    cursor: pointer;
}

.containerButtons button:hover {
    background-color: rgb(161, 161, 161);
}

.resume {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 1000;
    margin-left: 10px;
}

.email-copy {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 12px;
    text-decoration: underline;
    color: #acacac;
}

.email-copy :hover{
    color: rgb(224, 224, 224);
    cursor: pointer;
}

